@import "./../../styles/partials/global";

.header {
  @include flex-direction(column);
  width: 100%;
  background-color: $color-primary;
  @include desktop {
    @include wrap($max-width, $margin-center);
  }
  &__wrapper {
    @include full-width($color-primary);
  }
  &__container {
    @include flex-default(center, space-between);
    margin: 0.5rem;
  }
  &__logo {
    color: $color-tertiary;
    @include flex(row, center, space-around);
  }
  &__menu {
    color: $color-secondary;
  }
  &__img {
    padding: 0.3rem;
  }
}
