// colours base;
$color-primary: #ffffff;
$color-secondary: #dcdcdc;
$color-tertiary: #323232;
$color-primary-dark: #f9f7f7;
$color-secondary-dark: #8f8f8f;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

// responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//width
$width: 100%;

// larger displays
$max-width: 1280px;
$margin-center: 0 auto;
